<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Index</welcome-file>  
        <welcome-file>Index.java</welcome-file>  
  </welcome-file-list> 
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>market.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>market.Registration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Items</servlet-name>
        <servlet-class>market.Items</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Items</servlet-name>
        <url-pattern>/Items</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>market.Cart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Orders</servlet-name>
        <servlet-class>market.Orders</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Orders</servlet-name>
        <url-pattern>/Orders</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
