nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
}

input {
    margin-bottom: 10px;
}

body {
	width: 100%;
	background: white;
	margin: 0;
}

#wrapper {
	background-color: white;
        text-align: center;
}

h1 {
	font: bold 32px Tahoma;

}

header {
	color: black;
	padding: 20px;
	text-align: center;
}

nav {
	color: #E6E6E6;
	text-align: center;
	padding: 10px;
}

nav li {
	display: inline-block;
	font: bold 14px Tahoma;
	padding: 5px;
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:link, nav a:visited {
	color: blue;
}

nav a:hover {
	color: black;
}

nav a:active {
	color: red;
}

#main_footer {
	clear: both;
	text-align: center;
	background: #ffad0e;
	color: blue;
	padding: 10px;
}

#main_footer li {
	display: inline-block;
	font: bold 14px Tahoma;
	padding: 5px;
}

#main_footer li:first-child {
	border-right: 1px solid black;
	margin-right: -5px;
}

#main_footer a {
	text-decoration: none;
	color: blue;
}

#main_footer a:hover {
	color: black;
}

#main_footer a:active {
	color: red;
}

#main_footer a:visited {
	color: white;
}

label {
    font-weight: bold;
}

.items {
    text-align: center;
}

img {
    /*border: 1px solid black;*/
    height: 300px;
    width: 400px;
}

td {
    border: 1px solid black;
    padding: 5px;
}

th {
    padding: 5px;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

#errorMsg {
    color: red;
}

#success_msg {
    color: green;
}

#account {
    text-align: right;
    margin-right: 15px;
    margin-bottom: -15px;
}

button {
    margin-bottom: 10px;
}

#promo {
    font: bold 16px Tahoma;
}

#mascot {
    width: 100px;
    height: 150px;
    position: absolute;
    left: 20%;
    top: 90%;
}

#shoppingCart {
    width: 100px;
    height: 150px;
    position: absolute;
    top: 5%;
    right: 29%;
}

#cart {
    margin-top: -15px;
}